:root {
  margin: 0;
  padding: 0;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button,
input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
input:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row, .rowM {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

.column {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.disabled {
  opacity: 0.5;
}

#hangUpBtn {
  background-color: hsl(360, 40%, 30%);
}

#answerBtn {
  background-color: hsl(120, 30%, 25%);
}

#localFootage, #remoteFootage {
  width: 47.5vw;
  aspect-ratio: 16 / 9;
  background-color: #1a1a1a;
}

@media only screen and (max-width: 454px) {
  h1{
    display: none;
  }
  .row {
    flex-flow: column;
    gap: 1rem;
  }
  .column {
    height: auto;
    width: 100%;
  }
  #localFootage, #remoteFootage {
    width: 100vw;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
